html, body {
	border: 0;
	height: 100%;
	padding: 0;
	background: white;
	font-size: 14px;
}

hr {
	width: 75%;
}

.map-box {
	height: 100%;
}

#map {
	height: 100vh;
}

/*********************************************
* Weather Info from OpenWeatherMap.com
*********************************************/
i.wi {
	font-weight: bold;
	font-size: 25px;
}
.weatherGlyph {
	background: #E6E6E6;
	border: 1px solid black;
	color: black;
	padding: 3px;
	margin-left: 10px;
}

.weatherInfoButton {
	background: #00ffff;
	background: rgba(76, 154, 178, 0.4);
	color: white;
	height: 36px;
	padding: 0 10px 10px 10px;
	position: absolute;
	right: 0;
	text-align: center;
	text-shadow: 0 0 4px black;
	top: 0;
	width: 300px;
	z-index: 30;
}

.weatherInfoWindow {
	background: #00ffff;
	background: rgba(76, 154, 178, 0.4);
	border-bottom-left-radius: 10px;
	border-color: white;
	border-width: 3px;
	color: white;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 36px;
	text-shadow: 0 0 8px black;
	width: 300px;
	z-index: 25;

}

#weatherInfo td {
	min-width: 50px;
}

#weatherInfo tr {
	border-bottom: 1px solid white;
}

.weatherTable {
	padding-left: 5px;
	border-left: 5px;
}

#weatherInfo {
	list-style: none;
}

a#darkSkyLink {
	color: white;
	text-shadow: 0 0 4px black;
}

/*********************************************
* Custom styling for simple-sidebar.css
*********************************************/

/*Remove padding around map*/
.no-padding, #page-content-wrapper {
	padding: 0;
}

#sidebar-wrapper {
	height: 100vh;
}

.sidebar-info {
	padding: 10px;
	padding-bottom: 0;
	color: white;
}

.fancyfont {
	font-family: 'Caveat Brush', cursive;
	color: white;
	text-shadow: 0 0 4px blue;
}

/*********************************************
* Toggle menu button visibility and place over map
*********************************************/

#menu-toggle-button {
	left: 0;
	position: absolute;
	top: 10px;
	z-index: 3;
}

@media (min-width:768px) {
	#menu-toggle-button {
		display: none;
	}
}

@media (max-width: 767px) {
	#menu-toggle-button {
		display: inline;
	}
}

