html, body {
	border: 0;
	height: 100vh;
	padding: 0;
	background: white;
}

header {
	padding-left: 20px;
	color: white;
	text-shadow: 0 0 4px blue;
	height: 60px;
}

.map-box {
	height: 100%;
}

#map {
	height: 90vh;
}

/*********************************************
* Custom styling for simple-sidebar.css
*********************************************/

/*Remove padding around map*/
.no-padding, #page-content-wrapper {
	padding: 0;
}

/*#page-content-wrapper {
	position: fixed;
}*/

#sidebar-wrapper {
	height: 100vh;
}


/*********************************************
* Toggle menu button visibility and place over map
*********************************************/

#menu-toggle-button {
	left: 0;
	position: absolute;
	top: 15%;
	z-index: 3;
}

@media (min-width:768px) {
	#menu-toggle-button {
		display: none;
	}
}

@media (max-width: 756px) {
	#menu-toggle-button {
		display: inline;
	}
}

